body{
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #19ac67, #858185);
}
div{
    border: 2px dashed #c70584;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 10px 12px #858185;
}
#principal{
    width: 50px;
    float: left;
    border-radius: 50%;
}
div.especial h3{
    font-family: 'Rubik', sans-serif;
    text-shadow: 10px 5px #999;
}